.btn{
    margin-top: 10px;
    min-width: 103px;
    margin: 4px;
    padding-block: 16px;
    padding-inline: 28px;
    font-size: 15px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    border: none;
}