
.container {
    height: 150px;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
   position: relative;
}

.img{
    padding: 10px;
}

.img>img{
    width: 100px;
    height: 130px;
}

.content {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px;
}

.star{
    width: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
}